$black: #000000;
$opacity-black: rgba(0, 0, 0, 0.7);
$hover-black: #222;
$white: #fff;
$blue: #3f51b5;
$dark-blue: #2c3e91;
$purple: #883c84;
$dark-purple: #6e1969;
$light-purple: #883c84;
$primary-purple: #8e44ad;
$disabled-purple: #e0cfe7;
$dark-violet: #3a1469;
$gray: #ededed;
$greyE6: #e6f4ea;
$text-gray: #212121;
$border-gray: #f1f1f1;
$light-gray: #f3f4f6;
$grayF8: #f8f9fc;
$dark-gray: #474a4f;
$gray500: #474a4f;
$gray82: #82858e;
$gray400: rgba(130, 133, 142, 1);
$gray600: #ccc;
$grayF0: #f0f0f0;
$orange: rgba(255, 91, 25, 1);
$red: rgba(243, 40, 13, 1);
$dark-red: #b71c1c;
$green: rgba(72, 203, 129, 1);
$dark-green: #2e7d32;
$yellow: rgba(254, 162, 5, 1);
$blue: #1670be;
$error-red: #d32f2f;
